@import url(../combo-3-course-tony-dzung/front/font.css);
#banner img {
  max-width: 100%;
}
#banner .container-fluid {
  padding: 0;
}
#register .container-fluid {
  padding: 0;
}

#register {
  background-color: white;
}
#register .register-main {
  padding-top: 16rem;
}
#register .form-register .title p {
  font-family: "RobotoCondensed-Bold";
  color: white;
  font-size: 30px;
}
#register .promotion-center {
  text-align: center;
  font-weight: bold;
  font-size: 23px;
}
#register .text-white {
  color: #fff;
}
#register .form-control {
  margin: 10px 0px;
  border-radius: 50px;
  line-height: 32px;
  padding-left: 50px;
}
.form-control {
  height: 46px !important;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
#input-name input {
  background: url(../combo-3-course-tony-dzung/images/icon/user.png) no-repeat
    white 15px 5px;
}
#input-phone input {
  background: url(../combo-3-course-tony-dzung/images/icon/phone.png) no-repeat
    white 15px 5px;
}
#input-email input {
  background: url(../combo-3-course-tony-dzung/images/icon/envelope.png)
    no-repeat white 15px 10px;
}
#input-ticket select {
  background: url(../combo-3-course-tony-dzung/images/icon/ticket.png) no-repeat
    white 15px 10px;
}
#input-number input {
  background: url(../combo-3-course-tony-dzung/images/icon/pencil.png) no-repeat
    white 15px 5px;
}
#input-total input {
  background: url(../combo-3-course-tony-dzung/images/icon/dollar.png) no-repeat
    white 15px 9px;
}
#register .button-register {
  text-align: center;
}
#register .button-register__btn {
  clip-path: polygon(9% 0, 91% 0, 100% 50%, 92% 100%, 9% 100%, 0% 50%);
  background-color: #cc2429;
  width: 168px;
  color: white;
  height: 35px;
  font-family: "Roboto-Black";
  font-size: 17px;
  border: none;
}
#register iframe {
  width: 90%;
  height: 31rem;
  margin-top: 5rem;
}
#register .reason-fail {
  margin-top: 14rem;
  padding-left: 10rem;
}
#register .reason-fail img {
  max-width: 100%;
  position: absolute;
  margin-top: -9rem;
}
#register .reason-fail .reason-fail__title .line-one {
  display: flex;
}
#register .reason-fail .reason-fail__title {
  margin: auto;
  margin-left: 0;
  position: relative;
}
#register .reason-fail .reason-fail__title p {
  font-size: 23px;
  color: #1c2d5a;
  text-transform: uppercase;
}
#register .reason-fail .reason-fail__title .seven-percent {
  font-family: "RobotoCondensed-Bold";
  font-size: 161px;
  color: #cc2429;
  top: -3rem;
  margin-left: 2rem;
  position: absolute;
}
#register .reason-fail .reason-fail__title .failed-business {
  font-family: "RobotoCondensed-Bold";
  font-size: 55px;
  color: #1c2d5a;
  float: right;
  position: absolute;
  margin-left: 30rem;
  top: 0rem;
}
#register .reason-fail .reason-fail__content ul {
  margin: 5rem;
  list-style: none;
  padding: 1rem 14rem 1rem 0rem;
  text-align: justify;
}
#register .reason-fail .reason-fail__content li {
  color: black;
  font-size: 20px;
  font-family: "Roboto-Regular";
  margin-top: 1rem;
}
#register .reason-fail .reason-fail__content ul li::before {
  content: "\2022";
  color: #cc2429;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
#register .reason-fail .reason-fail__title__main {
  background-color: #c3d4de;
  padding: 2rem 5rem 2rem 49rem;
  width: 90%;
  right: 0;
  margin: auto;
  float: right;
  height: 26rem;
}
#register .line-two {
  margin-top: 13rem;
}
#register .line-two p {
  font-family: "Roboto-Bold";
  font-size: 25px;
}
#register .reason-fail .reason-fail__content {
  margin-top: 4rem;
  float: left;
  margin-left: 14rem;
}

#business-model-transformation {
  background-image: url(../combo-3-course-tony-dzung/images/business-model-transformation/bg.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 5rem;
}
#business-model-transformation .content {
  padding: 5rem 17rem 0rem 0rem;
}
#business-model-transformation .content p {
  font-family: "Roboto-Regular";
  font-size: 20px;
  color: white;
}
#business-model-transformation .content .p-one,
#business-model-transformation .content .p-two,
#business-model-transformation .content .p-three {
  text-align: justify;
}
#business-model-transformation .content .mark-xoan {
  font-family: "Roboto-Bold";
  font-size: 20px;
}
#business-model-transformation .content .folk {
  text-align: center;
  margin-top: 5rem;
}
#business-model-transformation .content .folk .quote-one {
  position: absolute;
  margin-left: -7rem;
  margin-top: -2rem;
}
#business-model-transformation .content .folk .quote-two {
  position: absolute;
  margin-left: 1rem;
  margin-top: 0rem;
}
#business-model-transformation .title {
  padding-right: 20rem;
  margin-top: 3rem;
}
#business-model-transformation .content-title {
  background-color: #395e9e;
  text-align: center;
  border-radius: 50px;
  border: 1px solid white;
}
#business-model-transformation .content-title span {
  display: block;
  font-size: 24px;
}
#business-model-transformation .content-title p {
  font-family: "Roboto-Regular";
  font-size: 28px;
  color: white;
  padding: 5px;
}
#business-model-transformation .button-register {
  text-align: center;
  margin-top: 3rem;
}
#business-model-transformation .button-register__btn {
  clip-path: polygon(9% 0, 91% 0, 100% 50%, 92% 100%, 9% 100%, 0% 50%);
  background-color: #cc2429;
  width: 168px;
  color: white;
  height: 35px;
  font-family: "Roboto-Black";
  font-size: 17px;
  border: none;
}

#three-topics {
  background-color: #e1eaf3;
  padding-top: 6rem;
  padding-bottom: 11rem;
}
#three-topics .title {
  text-align: center;
}
#three-topics .title h2 {
  text-transform: uppercase;
  font-family: "RobotoCondensed-Bold";
  font-size: 46px;
  color: #1c2d5a;
}
#three-topics .red-title {
  background-color: #cc2429;
  width: 13%;
  height: 10px;
  left: 0;
  right: 0;
  margin: auto;
}
#three-topics .content .item {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
#three-topics .content .item .title-number {
  font-size: 122px;
  color: #cc2429;
  font-family: "RobotoCondensed-Regular";
}
#three-topics .content .item .text {
  padding: 2rem;
}

#three-topics .content .item .video {
  padding: 2.3rem;
}

#three-topics .content .item .title {
  display: flex;
}
#three-topics .content .item .icon {
  padding: 4px;
}
#three-topics .content .item .title .title-text {
  padding: 1rem;
}
#three-topics .content .item .title .title-text h2 {
  text-transform: uppercase;
  font-family: "RobotoCondensed-Bold";
  font-size: 27px;
  color: #1c2d5a;
  text-align: left;
  line-height: 1.5;
}
#three-topics .content {
  margin-top: 20rem;
  text-align: center;
}
#three-topics .content .text-content-item {
  display: flex;
}
#three-topics .content .text-content {
  padding-left: 14rem;
  float: left;
}
#three-topics .content .text-content-item__main {
  margin-left: 1rem;
}
#three-topics .content .text-content-item__main p {
  font-size: 20px;
  font-family: "Roboto-Regular";
  color: black;
}
#three-topics .content i {
  color: #cc2428;
}
#three-topics .content iframe {
  width: 100%;
  /* height: 22rem; */
  border: 4px solid white;
}
#three-topics .button-register {
  text-align: center;
  margin-top: 3rem;
}
#three-topics .button-register__btn {
  clip-path: polygon(9% 0, 91% 0, 100% 50%, 92% 100%, 9% 100%, 0% 50%);
  background-color: #cc2429;
  width: 168px;
  color: white;
  height: 35px;
  font-family: "Roboto-Black";
  font-size: 17px;
  border: none;
}
#three-topics .mar-top {
  margin-top: 10rem;
}

#three-topics .item-two .title {
  float: right;
}

.eigenvalue {
  margin: 0;
}
.eigenvalue .title {
  margin-top: 0;
  position: relative;
  background: url("./images/banner/background.jpg");
  background-repeat: no-repeat;
  height: 230px;
  padding-top: calc(230px / 2 - 15px);
  font-weight: bold;
  margin-bottom: 0;
  font-family: "RobotoCondensed-Bold";
  color: white;
  font-size: 46px;
}

#eigenvalue .container-fluid {
  padding: 0;
}
#eigenvalue .title::after {
  width: 13rem;
  height: 10px;
  background: #cc2429;
  content: "";
  position: absolute;
  bottom: 100%;
  border-bottom-color: #206d97;
  left: calc(50% - 89px);
  top: calc(1em + 20px + 230px / 2 - 15px);
}
.main-eigenvalue {
  background: url("./images/banner/background-2.jpg") no-repeat;
  background-size: 100% 100%;
  height: 950px;
  width: 100%;
  padding-top: 110px;
}
.main-eigenvalue .item {
  box-shadow: rgba(29, 29, 29, 0.48) 6px 8px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  background-color: #fff;
  font-size: 20px;
  padding: 45px 20px 0;
  border: 3px solid #1c2d5a;
  border-radius: 30px;
  position: relative;
  height: 300px;
}

.main-eigenvalue .item::before {
  position: absolute;
  bottom: 100%;
  left: calc(50% - 150px / 2);
  width: 150px;
}

.main-eigenvalue .item::before {
  content: "";
  background-color: #fff;
  top: -3px;
}

#eigenvalue .item p {
  font-family: "Roboto-Regular";
  font-size: 20px;
  color: black;
}
#eigenvalue .item img {
  position: absolute;
  top: -49px;
  left: 127px;
}
#eigenvalue .button-register {
  text-align: center;
  margin-top: 8rem;
}
#eigenvalue .button-register__btn {
  clip-path: polygon(9% 0, 91% 0, 100% 50%, 92% 100%, 9% 100%, 0% 50%);
  background-color: #cc2429;
  width: 168px;
  color: white;
  height: 35px;
  font-family: "Roboto-Black";
  font-size: 17px;
  border: none;
}

#eigenvalue .margin-box {
  margin-top: 80px;
}

@media only screen and (min-width: 1366px) {
  #business-model-transformation .content {
    padding: 5rem 29rem 0rem 0rem;
  }
  #register .reason-fail .reason-fail__title .seven-percent {
    font-size: 133px;
    top: -2rem;
  }
  #register .reason-fail .reason-fail__title .failed-business {
    font-size: 34px;
    margin-left: 25rem;
    top: 1rem;
  }
  #register .reason-fail .reason-fail__title p {
    font-size: 19px;
  }
  #register .line-two {
    margin-top: 10rem;
  }
  #register .reason-fail .reason-fail__title__main {
    height: 22rem;
  }
  #register .reason-fail .reason-fail__content {
    margin-top: 8rem;
  }
}

@media only screen and (max-width: 1024px) {
  #register .reason-fail img {
    margin-top: -1rem;
    width: 44%;
  }
  #register .reason-fail .reason-fail__title__main {
    padding: 2rem 5rem 2rem 33rem;
  }
  #register .reason-fail .reason-fail__title .seven-percent {
    font-size: 78px;
    top: 0rem;
  }
  #register .reason-fail .reason-fail__title .failed-business {
    margin-left: 17rem;
    top: 2rem;
    font-size: 26px;
  }
  #register .line-two {
    margin-top: 8rem;
  }
  #register .reason-fail .reason-fail__content {
    margin-top: 0rem;
  }
  #business-model-transformation {
    background-image: url(../combo-3-course-tony-dzung/images/business-model-transformation/mobile.jpeg);
  }
  #business-model-transformation .content {
    padding: 5rem 0rem 0rem 0rem;
  }
  #business-model-transformation .title {
    padding-right: 0rem;
  }
  #register .reason-fail .reason-fail__content ul {
    padding: 1rem 3rem 1rem 0rem;
  }
  #three-topics .content {
    margin-top: 6rem;
  }
  #three-topics .content .item {
    padding: 1rem;
  }
  #eigenvalue .item img {
    left: 94px;
  }
}

@media only screen and (max-width: 768px) {
  #register .reason-fail .reason-fail__title__main {
    padding: 2rem 5rem 2rem 24rem;
  }
  #register .reason-fail .reason-fail__title .seven-percent {
    font-size: 58px;
    top: 1rem;
  }
  #register .reason-fail .reason-fail__title .failed-business {
    margin-left: 12rem;
    font-size: 20px;
  }
  #register .line-two {
    margin-top: 4rem;
  }
  #register .reason-fail .reason-fail__content {
    margin-top: -3rem;
    margin-left: 4rem;
  }
  #register .reason-fail .reason-fail__title__main {
    height: 20rem;
  }
  #register .register-main {
    padding-top: 0rem;
  }
  #register iframe {
    width: 100%;
    height: 31rem;
  }
  #register .reason-fail {
    margin-top: 7rem;
  }
  #business-model-transformation .content-title p {
    font-size: 24px;
  }
  #three-topics .content .item .video {
    margin-top: 13rem;
  }
  #three-topics .content .item-two .video {
    margin-top: 0rem;
  }
  #eigenvalue .item img {
    left: 300px;
  }
  #eigenvalue .margin-box {
    margin-top: 0px;
  }
  .main-eigenvalue .item {
    margin-top: 9rem;
    height: max-content;
    padding: 4rem;
  }
  .main-eigenvalue {
    height: max-content;
    padding-top: 35px;
  }
}
@media only screen and (max-width: 480px) {
  #register .reason-fail .reason-fail__title__main {
    padding: 2rem 0rem 2rem 5rem;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
  }
  #register .reason-fail img {
    margin-left: -8rem;
    margin-top: 3rem;
  }
  #register .reason-fail .reason-fail__title p {
    font-size: 15px;
  }
  #register .reason-fail .reason-fail__title .seven-percent {
    font-size: 32px;
  }
  #register .reason-fail .reason-fail__title .failed-business {
    margin-left: 8rem;
    font-size: 15px;
  }
  #register .reason-fail .reason-fail__content {
    margin-left: -4rem;
  }
  #register .reason-fail .reason-fail__content li,
  #business-model-transformation .content p {
    font-size: 17px;
  }
  #business-model-transformation .content .folk .quote-one {
    margin-left: -4rem;
    margin-top: 0rem;
    font-size: 3rem;
  }
  #business-model-transformation .content .folk .quote-two {
    font-size: 2rem;
  }
  #business-model-transformation .content-title p {
    font-size: 15px;
  }
  #business-model-transformation .content-title span {
    font-size: 14px;
  }
  #three-topics .title h2 {
    font-size: 25px;
  }
  #three-topics {
    padding-top: 2rem;
  }
  #three-topics .content .item .title .title-text {
    padding-top: 0;
  }
  #three-topics .content .item .title-number {
    font-size: 50px;
    padding-top: 14px;
  }
  #three-topics .content .item .title .title-text h2 {
    font-size: 23px;
  }
  #three-topics .content .text-content {
    padding-left: 2rem;
  }
  #three-topics .content .text-content-item__main p {
    font-size: 16px;
  }
  #three-topics .content .item .icon {
    padding: 0px;
  }
  .eigenvalue .title {
    font-size: 26px;
  }
  #eigenvalue .title::after {
    left: calc(50% - 66px);
  }
  #three-topics {
    padding-bottom: 3rem;
  }
  #eigenvalue .item img {
    left: 0;
    right: 0;
    margin: auto;
  }
}
@media only screen and (max-width: 450px) {
  #register .reason-fail .reason-fail__content {
    margin-left: -7rem;
  }

  #business-model-transformation .content .folk {
    padding: 0rem 6rem;
  }
  #business-model-transformation .content-title p {
    font-size: 17px;
  }
  #three-topics .title h2 {
    font-size: 22px;
  }
  #three-topics .mar-top {
    margin-top: 4rem;
  }
  .eigenvalue .title {
    font-size: 23px;
  }
  .main-eigenvalue .item {
    padding: 5rem;
  }
  #eigenvalue .item p{
    font-size: 17px;
  }
}
