@font-face {
    font-family: 'K2D-Regular';
    src: url('K2D-Regular.ttf');
    src: url('K2D-Regular.woff');
}

@font-face {
    font-family: 'K2D-ExtraBold';
    src: url('K2D-ExtraBold.ttf');
    src: url('K2D-ExtraBold.woff');
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('Roboto-Light.ttf');
    src: url('Roboto-Light.woff');
}
@font-face {
    font-family: 'K2D-Bold';
    src: url('K2D-Bold.ttf');
    src: url('K2D-Bold.woff');
}
@font-face {
    font-family: 'K2D-MediumItalic';
    src: url('K2D-MediumItalic.ttf');
    src: url('K2D-MediumItalic.woff');
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('Roboto-Medium_0.ttf');
    src: url('Roboto-Medium_0.woff');
}
@font-face {
    font-family: 'RobotoCondensed-Regular';
    src: url('RobotoCondensed-Regular.ttf');
    src: url('RobotoCondensed-Regular.woff');
}

@font-face {
    font-family: 'RobotoCondensed-Bold';
    src: url('RobotoCondensed-Bold.ttf');
    src: url('RobotoCondensed-Bold.woff');
}

@font-face {
    font-family: 'RobotoCondensed-Italic';
    src: url('RobotoCondensed-Italic.ttf');
    src: url('RobotoCondensed-Italic.woff');
}
@font-face {
    font-family: 'Roboto-BoldItalic';
    src: url('Roboto-BoldItalic.ttf');
    src: url('Roboto-BoldItalic.woff');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('Roboto-Regular.ttf');
    src: url('Roboto-Regular.woff');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('Roboto-Bold.ttf');
    src: url('Roboto-Bold.woff');
}

@font-face {
    font-family: 'Roboto-Black';
    src: url('Roboto-Black.ttf');
}

@font-face {
    font-family: 'K2D-Medium';
    src: url('K2D-Medium-500.ttf');
    src: url('K2D-Medium-500.woff');
}
@font-face {
    font-family: 'Montserat-Extrabold';
    src: url('MONTSERRAT-EXTRABOLD.ttf');
    src: url('MONTSERRAT-EXTRABOLD.woff');
}

@font-face {
    font-family: 'UTM-BryantlG_0';
    src: url('UTM\ BryantLG_0.ttf');
    src: url('UTM-BryantLG_0.woff');
}